:root {
    --clr-background: hsl(214, 47%, 23%);
    --clr-dark-text :hsl(229, 25%, 31%);
    --clr-score-text: hsl(229, 64%, 46%);
    --clr-header-outline : hsl(217, 16%, 45%);
    --clr-scissors : hsl(39, 89%, 49%);
    --clr-paper: hsl(230, 89%, 62%);
    --clr-rock: hsl(349, 71%, 52%);
    --clr-lizard: hsl(261, 73%, 60%);
    --clr-spock: hsl(189, 59%, 53%);
  
    --ff-base: "Barlow Semi Condensed";
  
    --fw-regular: 600;
    --fw-bold: 700;
}

body {
    background-color: hsl(214, 47%, 23%);
}
.game_header {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--clr-header-outline);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 70%;
    padding: 1rem;
}


.step1-game {
    max-width: 100%;
    max-height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.step4-game {
    max-width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}


.header {
    color: white;
    text-transform: uppercase;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
}

.header p {
    margin: 0;
    padding: 0;
    display: block;
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 0.625rem;
}

.lose-play {
    color: var(--clr-rock);
    text-transform: uppercase;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    padding: 1rem 3rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.play {
    color: var(--clr-background);
    text-transform: uppercase;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}


.win-play {
    color: var(--clr-background);
    text-transform: uppercase;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    padding: 1rem 3rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.step2-game {
    max-width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.step3-game {
    max-width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.current_choice {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 30px solid;
    background-repeat: no-repeat;
    background-position: center;
}
.pick {
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: white;
    font-size: 1.25rem;
}
.output {
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}
.current_choice_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
    text-align: center;
}


.current_choice_container div {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.current_choice img {
    width: 70%;
    height: auto;
}

.current_choice[data-choice="rock"] {
    border-color: var(--clr-rock);
    background-image: url("images/icon-rock.svg");
}

.current_choice[data-choice="paper"] {
    border-color: var(--clr-paper);
    background-image: url("images/icon-paper.svg");
}

.current_choice[data-choice="scissors"] {
    border-color: var(--clr-scissors);
    background-image: url("images/icon-scissors.svg");
}
.score-board {
    font-size: 1.5em;
    background-color: white;
    font-family: var(--ff-base);
    border: none;
    border-radius: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
}
.score-board span {
    margin: 0;
    padding: 0;
    display: block;
    font-family: var(--ff-base);
    text-transform: uppercase;
    color: var(--clr-background);
}

.score {
    font-weight: var(--fw-bold);
    color: var(--clr-background);
}


.choices {
    position: relative;
    width: 32.625rem; 
    height: 26.75rem; 
    margin: 4rem;
    background-image: url('images/bg-triangle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.choice {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 30px solid;
    transition: transform 0.25s;
}

.choice:nth-child(1) { /* Rock */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--clr-rock);
}

.choice:nth-child(2) { /* Paper */
    top: -8%;
    left: 0;
    border-color: var(--clr-paper);
}

.choice:nth-child(3) { /* Scissors */
    top: -8%;
    right: 0;
    border-color: var(--clr-scissors);
}

.choice:hover {
    transform: scale(1.1);
}

.rules {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--clr-header-outline);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 4rem;
    align-self: flex-end;
    font-family: var(--ff-base);
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    color: white;
    cursor: pointer;
}

.rules-container {
    display: none; 
    position: fixed;
    /* z-index: 1000;  */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 90%;
    width: 300px;
    /* display: none; */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: black;
}

.close-btn img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
}

.close-btn img:hover {
    transform: scale(1.6);
}



.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.current_choice_container:first-child {
    order: 0;
}

.current_choice_container:last-child {
    order: 1;
}

@media (max-width: 768px) {
    .rules {
        align-self: center; 
        margin: auto; 
        text-align: center;
        margin-top: 2rem;
    }
    
    .current_choice_container {
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;  
    }
    .result {
        order: 2;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .choices {
        margin: 6rem;
        width: 28rem;
    }
}